<div class="demo-container mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
    
      <h3>Equipes</h3>

      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        Criar Equipe
      </button>
  
      <ul class="demo-list-item mdl-list">
        <li *ngFor="let i of teams" class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            {{ i.name }}
          </span>
          <a (click)="editar(i)" class="mdl-list__item-secondary-action">
            <i class="material-icons">mode_edit</i>
          </a>
        </li>
      </ul>
  
    </div>
  </div>