<footer class="mdl-mega-footer footer">
  <div class="mdl-mega-footer--bottom-section">
    <div class="mdl-logo">
      Mais informações
    </div>
    <ul class="mdl-mega-footer--link-list">
      <li><a href="https://www.erepublik.com/br/article/projeto-alcateia-ca-adores-de-rh-2609942/1/20">Projeto Alcateia</a></li>
      <li>|</li>
      <li><a href="https://www.erepublik-deutschland.de">Fonte dos dados eRepublik-Deutschland.de</a></li>
      <li>|</li>
      <li><a href="https://www.erepublik.com/br/citizen/profile/4032742">Desenvolvido por Yurner0</a></li>
    </ul>
  </div>
</footer>
  